[submodule "woo"]
	path = woo
	url = https://github.com/lomiafrica/woo.git
[submodule "prestashop"]
	path = prestashop
	url = https://github.com/lomiafrica/prestashop.git
[submodule "magento"]
	path = magento
	url = https://github.com/lomiafrica/magento.git
[submodule "shopify"]
	path = shopify
	url = https://github.com/lomiafrica/shopify.git
[submodule "bubble"]
	path = bubble
	url = https://github.com/lomiafrica/bubble.git
[submodule "odoo"]
	path = odoo
	url = https://github.com/lomiafrica/odoo.git
